/* Add a cover background picture for the featured part with fixed height*/
body{
    background: url(../img/thenail.jpg) no-repeat center center;
    background-attachment:fixed;
    background-size: cover;
}

.header{
    height: 60px;
}
.container-fluid{
    top: 60px;
    overflow-y: hidden;
}

.jumbotron{
    background: transparent;
    background-size: cover;
    border-radius: 10px;
    height: 660px;
    top:60px;
}

.featured {
    color: white;
}

.featured h1, h3{
    padding-top: 60px;
    font-family: 'Lobster Two', cursive;
}
.featured h2 {
    font-size: 90px;
    font-family: 'Lobster Two', 'bold';
    margin-bottom: 40px;
}
.featured #intro:hover{
    color: orange;
    background-color: white;
    border-radius: 10px;
    opacity: 0.9;
    padding: 5px 5px;
}
.featured #intro {
    display: inline-block;
    line-height:130%;
    text-align: justify;
    font-family: 'Dosis', regular;
    font-size: 25px;
    font-weight: bold;
}

.featured .btn-default{
    font-weight: bold;
    opacity: 0.7;
    border-radius:10px;
    margin-top: 20px;
    margin-right: 20px;
}
.featured .btn-default:hover{
    color: #649BF6;
}
.featured #profile{
    width:170px;
    height:200px;
}

.logo{
    height: 200px;
    width: 180px;
    text-align: center;
}
.navbar-toggle {
    border-color: black;
}
.navbar-toggle .icon-bar{
    background-color: black;
}
.navbar {
    opacity: 1;
    border-bottom: 1px solid white;
    margin: 0 15%;
}

.navbar-nav li a:hover {
    background-color: transparent;
}
.navbar-nav a {
    font-size: 25px;
    color: black;
    font-family: 'Dosis', medium;
}
.navbar-nav a:hover {
    font-size: 25px;
    color: #649BF6;
    background-color: transparent;
}
#togglebutton{
    display: none;
}
/*use class moving to run object*/
.moving{
    margin-top:10px;
    margin-bottom:7px;
    width: 230px;
    height: 80px;
    position: absolute;
}
.moving:hover{
    cursor: hand;
}
.poster {
    margin-left: 20px;
    margin-top:10px;
    margin-bottom:7px;
    width: 170px;
    height: 80px;
    position: absolute;
}
.poster:hover{
    cursor: hand;
}
.row{
    position:relative;
}

.panel-footer{
    background-color: white;
    opacity:0.5;
    border-radius: 20px;
    padding:0;
    padding-left: 21px;
}
#hidefirst{
    display:none;
}

@media (min-width: 571px) and (max-width:850px){
    #showfirst{
        display:none;
    }
    #hidefirst{
        display: none;
    }
    .jumbotron{
        height:1000px;
        margin:0;
    }
    .logo{
        width:50px;
        height:70px;
    }
    .jumbotron .container .featured .row .col-md-9 .moving {
        width: 180px;
        height: 60px;
    }
    .featured h1{
        padding-top:30px;
    }
    .featured h3{
        color: #4285F4;
    }

    .featured #intro{
        background-color:white;
        opacity: 0.8;
        color:  #4285F4;
        border-radius: 20px;
        padding:7px 6px;
        margin: 20px;
    }
    .featured p{
        font-size:17px;
        padding-top:10px;
    }
    .featured{
        text-align: center;
    }
}
@media (max-width:570px){
    #showfirst{
        display:none;
    }
    .featured .row .col-md-9 #hidefirst{
        display: inline-flex;
        margin:0;
        text-align:center;
    }
    .jumbotron{
        height: 1200px;
        margin:0;
    }
    .logo{
        width:80px;
        height:50px;
    }
    .jumbotron .container .featured .row .col-md-9 .moving {
        width: 140px;
        height: 60px;
    }
    .featured h1{
        padding-top:10px;
    }
    .featured h3{
        color: #4285F4;
    }

    #togglebutton{
        display: inline-block;
    }
    .featured #intro{
        display:none;
        font-size:17px;
        background-color:white;
        opacity: 0.8;
        color:  #4285F4;
        border-radius: 20px;
        padding:7px 6px;
        margin: 20px;
    }
    .featured{
        text-align: center;
    }
}