body{
    background: url(../img/thelake.jpg) center center fixed;
    background-size: cover;
}

#header{
    color: white;
    text-align:center;
    font-size: 7vw;
}
#lap{
    text-align: right;
    font-size: 4vw;
}
#timer{
    text-align:center;
    font-size: 10vw;
}
#controlContainer{
    margin-bottom: 100px;
}

.controlButton{
    color: white;
    background-color: #d7A04e;
    border-radius: 100%;
    height: 10vw;
    width: 10vw;
    text-align:center;
    padding: 20% 0;
    font-size: 2.5vw;
    cursor: pointer;
}
.controlButton:active{
    background-color: white;
    color: #d7A04e;
}
.btn-default{
    background-color: white;
    color: #d7A04e;
}
#laps{
    max-height: 200px;
    overflow-y: scroll;
    border-radius: 5px;
}
#result{
    height: 50px;
    border-bottom: 1px solid white;
    background-color: white;
    opacity: 0.5;
}
#result #lapHeader {
    float: left;
    font-size: 1.5em;
}
#result #lapNumber {
    float: right;
    font-size: 1.5em;
}

#textfield{
    text-align: center;
}
#textfield #input {
    height: 40px;
    width: 45%;
    background: transparent;
    border-bottom: 1px solid white;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    color: white;
    font-size: 20px;
}
#pdf{
    background-color: white;
    color: #d7A04e;
}
.panel-footer{
    color:white;
    opacity: 0.5;
    font-size: 12px;
    float: right;
    background-color: transparent;
    border-top: transparent;
}
